<script>
  window.__qumra__ = {{ {"store": globals.store._id, "market": localization.market.code, "lang": localization.language, "currency": localization.currency.code} | dump | safe }};
</script>
<link rel="preconnect" href="https://cdn.example.com">
